<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="container container-padding" layout:fragment="content">
    <div th:if="${errors}" th:text="${errors}" class="margin-bottom alert alert-danger"></div>
    <form action="#" th:action="@{/signup}" th:object="${userDto}" method="post">
        <div class="mb-3">
            <input type="text" class="form-control" th:field="${userDto.login}"
                   placeholder="Логин" required="true" autofocus="true" maxlength="64"/>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" th:field="${userDto.password}"
                   placeholder="Пароль" required="true" minlength="6" maxlength="64"/>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" th:field="${userDto.passwordConfirm}"
                   placeholder="Пароль (подтверждение)" required="true" minlength="6" maxlength="64"/>
        </div>
<!--         <div class="mb-3">-->
<!--            <input type="text" class="form-control" th:field="${userDto.userRole}"-->
<!--                   placeholder="Роль" required="true" autofocus="true" maxlength="64"/>-->
<!--        </div>-->
<!--        !-->
        <div class="mb-3">
        <select class="form-control" id="dropDownList" th:field="${userDto.userRole}">
            <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
        </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success button-fixed">Создать</button>
            <a class="btn btn-primary button-fixed" href="/login">Назад</a>
        </div>
    </form>
</div>
</body>
</html>